body {
	background-color: #d7d8e28c;
}
.wrapper {
	background-color: #d7d8e28c;
}
.line{
	background-color: orange;
	height: 1rem;
}
.product-card {
	height: 20rem;
	padding: 10px;
}
.navbar{
	padding: .5rem .8rem 0rem .8rem;
}
.newitem{
 margin-left: 10px; 
 background-color:violet;
 margin-right: 150px;
}
.cartdetail1{
	margin-left: .8rem;
}
.cardprice1{
	margin-left: 5rem; 
	color:red;
}
.cartdetail2{
	margin-left: .8rem;
	padding-top: 2rem;

}
.cardprice2{
	margin-left: 5rem; 
	color:red;
	padding-top: 0rem;
}
.product-card .board-image {
	width: 	5rem;
	background-color: none;
	background-image: url("./../images/ww.png");
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center;
}
.product-card .board-image-oimage {
	width: 	5rem;
	background-color: none;
	background-image: url("./../images/wmen.png");
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center;
}

.product-card
.board-details-section
.details {
	height: 14em;
	margin: 3em 0;
	background-color: #ffff;
	/*border-radius: 0 5px 5px 0;*/
}
